BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
ColumnLimit: 120
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
BreakBeforeBraces: Allman
IndentCaseLabels: true
SpaceBeforeParens: ControlStatements
AlignAfterOpenBracket: Align
BinPackParameters: false
BinPackArguments: false